<template>
  <div class="row justify-center items-center bg">
    <div class="col-12 q-pa-md" align="center">
      <q-btn
        flat
        dense
        stack
        class="q-pa-xs q-mx-md rounded-borders me-btn"
        type="a"
        href="https://www.edutechinn.com"
        target="__blank"
      >
        <q-img src="../statics/pic/edutech.png" style="width:150px;"></q-img>
      </q-btn>
      <q-btn
        flat
        dense
        stack
        class="q-pa-xs q-mx-md rounded-borders me-btn"
        type="a"
        href="https://atwork-backend.web.app/"
        target="__blank"
      >
        <q-img src="../statics/pic/winner@work.png" style="width:150px;"></q-img>
      </q-btn>
      <q-btn
        flat
        dense
        stack
        class="q-pa-xs q-mx-md rounded-borders me-btn"
        type="a"
        href="https://onetp6-backend.web.app/"
        target="__blank"
      >
        <q-img src="../statics/pic/o-net.png" style="width:150px;"></q-img>
      </q-btn>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../statics/pic/bg-admin.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
.border-2 {
  border: 1px solid#fff;
}
.me-btn {
  transform: translateY(0px);
  transition: transform 0.3s;
}
.me-btn:hover {
  transform: translateY(-20px);
}
</style>