<template>
  <div>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div>
        <!-- ------------------------------------------------------- SECTION  --- ONE --- -->
        <div class="row q-px-md-xl q-px-sm-md q-px-xs-sm q-pt-sm q-pb-xl">
          <div class="col-12 q-pt-xl q-pb-xl">
            <div align="center" class="text-h4 text-blue-grey-10">คอร์สเรียน</div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 q-px-md-sm q-pa-xs-sm">
            <div class="card">
              <div align="center" class="bg-primary text-white q-pa-md text-h5">ทดลองเรียนฟรี</div>
              <div class="bg-grey-3 q-py-md text-h5" style="height:94px" align="center">
                FREE
                <br />
              </div>
              <div class="q-py-md q-pl-md-md q-pl-sm-lg q-pb-xl">
                <ul class="text-body1">
                  <li>เลือกเรียนได้ 2 ยูนิต</li>
                  <li>เรียนได้ทุกที่ ทุกเวลา</li>
                  <li>ไม่มีค่าใช้จ่ายเพิ่มเติม</li>
                  <li>เรียนครบทุกทักษะ</li>
                  <br />
                </ul>
              </div>
              <div align="center" class="q-py-md q-px-md">
                <q-btn
                  class="bg-primary text-white"
                  label="สมัครเรียน"
                  style="max-width:230px ;width:100%"
                  to="/register"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 q-px-md-sm q-pa-xs-sm">
            <div class="card">
              <div align="center" class="bg-primary text-white q-pa-md text-h5">ออนไลน์ 1 เดือน</div>
              <div class="bg-grey-3 q-py-md text-h5" align="center">
                ติดต่อ
                <br />094-548-7764
              </div>
              <div class="q-py-md q-pl-md-md q-pl-sm-lg q-pb-xl">
                <ul class="text-body1">
                  <li>เลือกเรียนได้ 4 ยูนิต</li>
                  <li>เรียนได้ทุกที่ ทุกเวลา</li>
                  <li>ไม่มีค่าใช้จ่ายเพิ่มเติม</li>
                  <li>เรียนครบทุกทักษะ</li>
                  <li>ทดสอบวัดระดับ</li>
                </ul>
              </div>
              <div align="center" class="q-pb-md q-px-md">
                <q-btn
                  class="bg-primary text-white"
                  label="สมัครเรียน"
                  style="max-width:230px ;width:100%"
                  to="/register"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 q-px-md-sm q-pa-xs-sm">
            <div class="card">
              <div align="center" class="bg-primary text-white q-pa-md text-h5">ออนไลน์ 3 เดือน</div>
              <div class="bg-grey-3 q-py-md text-h5" align="center">
                ติดต่อ
                <br />094-548-7764
              </div>
              <div class="q-py-md q-pl-md-md q-pl-sm-lg q-pb-xl">
                <ul class="text-body1">
                  <li>เลือกเรียนได้ 8 ยูนิต</li>
                  <li>เรียนได้ทุกที่ ทุกเวลา</li>
                  <li>ไม่มีค่าใช้จ่ายเพิ่มเติม</li>
                  <li>เรียนครบทุกทักษะ</li>
                  <li>ทดสอบวัดระดับ</li>
                </ul>
              </div>
              <div align="center" class="q-pb-md q-px-md">
                <q-btn
                  class="bg-primary text-white"
                  label="สมัครเรียน"
                  style="max-width:230px ;width:100%"
                  to="/register"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 q-px-md-sm q-pa-xs-sm">
            <div class="card">
              <div align="center" class="bg-primary text-white q-pa-md text-h5">ออนไลน์ 6 เดือน</div>
              <div class="bg-grey-3 q-py-md text-h5" align="center">
                ติดต่อ
                <br />094-548-7764
              </div>
              <div class="q-py-md q-pl-md-md q-pl-sm-lg q-pb-xl">
                <ul class="text-body1">
                  <li>เลือกเรียนได้ทุกยูนิต</li>
                  <li>เรียนได้ทุกที่ ทุกเวลา</li>
                  <li>ไม่มีค่าใช้จ่ายเพิ่มเติม</li>
                  <li>เรียนครบทุกทักษะ</li>
                  <li>ทดสอบวัดระดับ</li>
                </ul>
              </div>
              <div align="center" class="q-pb-md q-px-md">
                <q-btn
                  class="bg-primary text-white"
                  label="สมัครเรียน"
                  style="max-width:230px ;width:100%"
                  to="/register"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- ------------------------------------------------------- SECTION  --- TWO --- -->
        <div class="row bg-primary q-mt-lg">
          <!-- NOTE  --- Image --- -->
          <div class="col-md-7 col-xs-12" align="center">
            <q-img src="../statics/pic/5555.jpg" />
          </div>

          <!-- NOTE  --- Content --- -->
          <div class="col-md-5 col-xs-12 q-py-xs-xl text-white self-center" align="center">
            <div>
              <span class="text-white text-h5">สำหรับโรงเรียน</span>
            </div>
            <div class="q-py-sm">
              <span class="text-h6">สนใจสอบถามรายละเอียด</span>
            </div>

            <div class="text-body1 q-py-md" align="left" style="width:fit-content">
              <div class="q-py-sm">
                <span class="text-h4">
                  <q-icon name="fas fa-phone-alt" />
                </span>
                <span class="q-pl-md">094-548-7764</span>
              </div>
              <div class="q-py-sm">
                <span class="text-h4">
                  <q-icon name="fas fa-envelope" />
                </span>

                <span class="q-pl-md">info.winnerenglish@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <!-- ------------------------------------------------------- SECTION --- THREE ---  Components Footer  -->
    <app-footer></app-footer>
  </div>
</template>

<script>
import appFooter from "../components/footer.vue";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    appFooter
  }
};
</script>

<style  scoped>
.card {
  border: 3px solid #027be3;
  height: 480px;
}
.me-hover {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}
.card:hover .me-hover {
  transform: rotate(-30deg);
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #027be3;
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -1em;
  margin-top: 5px;
  font-size: 30px;
}
</style>