<template>
  <div style="height:fit-content;min-height:calc(100vh - 127px);" class="q-pt-md-xl q-px-md-md">
    <transition appear enter-active-class="animated zoomInDown">
      <div>
        <div class="text-h6" style="max-width:800px;width:100%;margin:auto;">
          <q-tabs
            v-model="loginTab"
            inline-label
            align="left"
            class="bg-primary text-white shadow-2"
            style="height:80px;"
            active-bg-color="blue-10"
            indicator-color="blue-10"
          >
            <q-tab style="width:50%;max-width:200px;" name="student">
              <span class="text-h4">
                <span class="fas fa-user-graduate q-pr-sm"></span>
              </span>
              <span class="text-h6">นักเรียน</span>
            </q-tab>
            <q-tab style="width:50%;max-width:200px;" name="teacher">
              <span class="text-h4">
                <span class="fas fa-chalkboard-teacher q-pr-sm"></span>
              </span>
              <span class="text-h6">คุณครู</span>
            </q-tab>
          </q-tabs>
        </div>

        <q-tab-panels
          v-model="loginTab"
          animated
          class="shadow-5"
          transition-next="slide-left"
          transition-prev="slide-right"
          style="max-width:800px;width:100%;margin:auto;"
        >
          <q-tab-panel name="student" class>
            <div class="row items-center q-pt-md" :class="{'me-height-sm':$q.platform.is.desktop}">
              <!-- ROW 1 -->
              <div class="col-12 row">
                <div class="col-12 bg-white relative-position border-color" align="center">
                  <div
                    class="bg-white absolute-center q-px-sm"
                    style="top:-3px;letter-spacing:2px;width:200px;"
                  >
                    <span class="text-blue text-h6">Winner English</span>
                  </div>
                  <div class="row q-py-md bg-transparent items-center">
                    <div class="col-md-4 col-xs-12 q-pa-md" align="center">
                      <q-btn
                        type="a"
                        target="_blank"
                        href="https://mainapp.winner-english.com"
                        class="bg-primary q-pa-md rounded-borders box"
                      >
                        <div class="full-width">
                          <q-img src="../statics/pic/winnerenglish.png" style="width:90px" />
                        </div>

                        <div class="text-h6 text-white q-pt-md">บทเรียน</div>
                      </q-btn>
                    </div>
                    <div class="col-md-4 col-xs-12 q-pa-md" align="center">
                      <q-btn
                        type="a"
                        target="_blank"
                        href="https://review-winner.web.app"
                        class="bg-primary q-pa-md rounded-borders box"
                      >
                        <div class="full-width">
                          <q-img src="../statics/pic/review.png" style="width:82px" />
                        </div>

                        <div class="text-h6 text-white q-pt-md">ทบทวนบทเรียน</div>
                      </q-btn>
                    </div>
                    <div class="col-md-4 col-xs-12 q-py-md" align="center">
                      <div class="row q-col-gutter-sm items-center justify-center">
                        <div class="col-xs-12 text-h6 text-primary">
                          <a target="_blank" href="https://exam.winner-english.com">
                            <q-btn
                              size="15px"
                              no-caps
                              outline
                              rounded
                              color="primary"
                              label="Pre-test / Post-test "
                              class="btn"
                            />
                          </a>
                        </div>
                        <div class="col-xs-12 text-h6 text-primary">
                          <a target="_blank" href="https://placement.winner-english.com">
                            <q-btn
                              size="15px"
                              no-caps
                              outline
                              rounded
                              color="primary"
                              label="สอบวัดระดับ "
                              class="btn"
                            />
                          </a>
                        </div>
                        <div class="col-xs-12 text-h6 text-primary">
                          <a target="_blank" href="https://questionnaire.winner-english.com">
                            <q-btn
                              size="15px"
                              no-caps
                              outline
                              rounded
                              color="primary"
                              label="ประเมินความพึงพอใจ "
                              class="btn"
                            />
                          </a>
                        </div>
                        <div class="col-xs-12 text-h6 text-primary">
                          <a target="_blank" href="https://app.review.winner-english.com">
                            <q-btn
                              size="15px"
                              no-caps
                              outline
                              rounded
                              color="primary"
                              label="ทบทวนสาระสำคัญ"
                              class="btn"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ROW 2 -->
              <div class="col-12 row q-pt-lg">
                <div class="col-12 bg-white relative-position border-color" align="center">
                  <div
                    class="bg-white absolute-center q-px-sm"
                    style="top:-3px;letter-spacing:2px;width:200px;"
                  >
                    <span class="text-blue text-h6">Winner O-NET</span>
                  </div>
                  <div class="row fit bg-transparent q-pa-md items-center justify-center">
                    <div class="col-md-4 q-pa-md" align="center">
                      <q-btn
                        :type="$q.platform.is.desktop ? 'a' : ''"
                        target="_blank"
                        href="https://onetp6.winner-english.com"
                        class="q-pa-md rounded-borders box"
                        :class="$q.platform.is.desktop ? 'bg-primary' : 'bg-grey-7'"
                        @click="$q.platform.is.mobile ? notUseOnetP6() : ''"
                      >
                        <div class="full-width">
                          <q-img src="../statics/pic/Onet.png" style="width:85px" />
                        </div>
                        <div class="text-h6 text-white q-pt-md">O-NET ป.6</div>
                      </q-btn>
                    </div>
                    <div class="col-md-4 q-pa-md" align="center">
                      <q-btn
                        type="a"
                        target="_blank"
                        href="https://o-net-review.web.app"
                        class="bg-primary q-pa-md rounded-borders box"
                      >
                        <div class="full-width">
                          <q-img src="../statics/pic/reviewOnet.png" style="width:80px" />
                        </div>

                        <div class="text-h6 text-white q-pt-md">ทบทวน O-NET</div>
                      </q-btn>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ROW 3 -->
              <!-- <div class="col-12 row q-pt-lg">
                <div class="col-12 bg-white relative-position border-color" align="center">
                  <div
                    class="bg-white absolute-center q-px-sm"
                    style="top:-3px;letter-spacing:2px;width:200px;"
                  >
                    <span class="text-blue text-h6">Winner Exam</span>
                  </div>
                  <div class="row fit bg-transparent q-pa-md items-center justify-center">
                    <div class="col-md-4 q-pa-md" align="center">
                      <q-btn
                        :type="$q.platform.is.desktop ? 'a' : ''"
                        target="_blank"
                        href="https://test.winner-english.com"
                        class="q-pa-md rounded-borders box"
                        :class="$q.platform.is.desktop ? 'bg-primary' : 'bg-grey-7'"
                        @click="$q.platform.is.mobile ? notUseOnetP6() : ''"
                      >
                        <div class="full-width">
                          <q-img src="../statics/pic/mocktest.png" style="width:85px" />
                        </div>
                        <div class="text-h6 text-white q-pt-md">บททดสอบ</div>
                      </q-btn>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
          </q-tab-panel>

          <!-- Tab : Teacher -->
          <q-tab-panel name="teacher">
            <div class="row justify-center">
              <div class="col-md-6 col-xs-12 q-pa-xs q-pt-lg">
                <div class="bg-white relative-position border-color" align="center">
                  <div
                    class="bg-white absolute-center q-px-sm"
                    style="top:-3px;letter-spacing:2px;width:200px;"
                  >
                    <span class="text-blue text-h6">Winner English</span>
                  </div>
                  <div class="row q-py-md bg-transparent items-center">
                    <div class="col-12 q-pa-md" align="center">
                      <q-btn
                        type="a"
                        target="_blank"
                        href="https://tas.winner-english.com"
                        class="bg-primary q-pa-md rounded-borders box"
                      >
                        <div class="full-width" align="center">
                          <q-img src="../statics/pic/tas.png" style="width:82px" />
                        </div>

                        <div class="text-h6 text-white q-pt-md">ระบบผู้ช่วยครู</div>
                      </q-btn>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xs-12 q-pa-xs q-pt-lg" align="center">
                <div class="bg-white relative-position border-color" align="center">
                  <div
                    class="bg-white absolute-center q-px-sm"
                    style="top:-3px;letter-spacing:2px;width:200px;"
                  >
                    <span class="text-blue text-h6">Winner O-NET</span>
                  </div>
                  <div class="row q-py-md bg-transparent items-center">
                    <div class="col-12 q-pa-md" align="center">
                      <q-btn
                        :type="$q.platform.is.desktop ? 'a' : ''"
                        target="_blank"
                        href="https://onetp6.winner-english.com"
                        class="q-pa-md rounded-borders box"
                        :class="$q.platform.is.desktop ? 'bg-primary' : 'bg-grey-7'"
                        @click="$q.platform.is.mobile ? notUseOnetP6() : ''"
                      >
                        <div class="full-width">
                          <q-img src="../statics/pic/Onet.png" style="width:80px" />
                        </div>

                        <div class="text-h6 text-white q-pt-md">O-NET ป.6</div>
                      </q-btn>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loginTab: "student"
    };
  },
  methods: {
    notUseOnetP6() {
      this.$q.dialog({
        message: "ระบบไม่รองรับการใช้งานบนโทรศัพท์มือถือในขณะนี้",
        ok: "ยกเลิก"
      });
    }
  }
};
</script>

<style scoped>
.me-height-sm {
  height: fit-content;
  min-height: 500px;
}
.border-color {
  border: 1px solid #5eb0f3;
}

a {
  text-decoration: none;
}
.btn {
  width: 200px;
}
.box {
  width: 200px;
  height: 150px;
}
</style>