<template>
  <q-page>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div>
        <div class="q-py-xs relative-position desktop-only">
          <div v-if="innerWidth > 1023">
            <img src="../statics/pic/book.png" style="width:100%;" alt />
          </div>
          <div :class="{'absolute-top-left':innerWidth > 1023}">
            <div class="row q-pt-xl">
              <div
                class="col-md-8 col-xs-12 q-pl-md-xl q-ml-md-lg q-pl-xs-lg q-pt-md-xl q-mt-md-lg q-py-xs-xl text-blue-grey-10"
                :class="{'row':innerWidth > 1023,'we-text-align':innerWidth < 1024}"
              >
                <div>
                  <span class="text-h3">Multi-skill Contents</span>
                </div>
                <div>
                  <span class="text-h4">
                    เรียนเนื้อหาภาษาอังกฤษครบทั้ง 6 ทักษะ
                    <br />คำศัพท์ ไวยากรณ์ อ่าน เขียน ฟังและพูด
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ------------------------------------------ SECTION  ------------------------------------------ Desktop -->
        <div class="row desktop-only">
          <!-- NOTE ------- Vocabulary -->
          <div class="col-md-7 col-xs-12 q-pa-sm q-py-xl q-px-xl" align="center">
            <!-- show -->
            <div class="q-px-xs q-py-xs">
              <img
                v-if=" showVocab == 1"
                class="border-4"
                src="../statics/pic/vocab1.jpg"
                style="width:100%;"
              />
              <img
                v-else-if=" showVocab == 2"
                class="border-4"
                src="../statics/pic/vocab2.jpg"
                style="width:100%;"
              />
              <img
                v-else-if=" showVocab == 3"
                class="border-4"
                src="../statics/pic/vocab3.jpg"
                style="width:100%;"
              />
              <img v-else class="border-4" src="../statics/pic/vocab4.jpg" style="width:100%;" alt />
            </div>
            <!-- show box 1 -->
            <div class="row">
              <div class="col-4 q-px-xs">
                <q-btn flat dense v-show="showVocab == 4" @click="mode(1)">
                  <img class="border-2" src="../statics/pic/vocab1.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(2)" v-show="showVocab == 1">
                  <img class="border-2" src="../statics/pic/vocab2.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(3)" v-show="showVocab == 2">
                  <img class="border-2" src="../statics/pic/vocab3.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(6)" v-show=" showVocab == 3">
                  <img class="border-2" src="../statics/pic/vocab4.jpg" style="width:100%;" alt />
                </q-btn>
              </div>
              <!-- show box 2 -->
              <div class="col-4 q-px-xs">
                <q-btn flat dense @click="mode(1)" v-show="  showVocab == 3">
                  <img class="border-2" src="../statics/pic/vocab1.jpg" style="width:100%;" alt />
                </q-btn>

                <q-btn flat dense @click="mode(2)" v-show="showVocab == 4">
                  <img class="border-2" src="../statics/pic/vocab2.jpg" style="width:100%;" alt />
                </q-btn>

                <q-btn flat dense @click="mode(3)" v-show="showVocab == 1">
                  <img class="border-2" src="../statics/pic/vocab3.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(6)" v-show="showVocab == 2">
                  <img class="border-2" src="../statics/pic/vocab4.jpg" style="width:100%;" alt />
                </q-btn>
              </div>
              <!-- show box 3 -->
              <div class="col-4 q-px-xs">
                <q-btn flat dense @click="mode(1)" v-show="showVocab == 2">
                  <img class="border-2" src="../statics/pic/vocab1.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(2)" v-show="showVocab == 3">
                  <img class="border-2" src="../statics/pic/vocab2.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(3)" v-show="showVocab == 4">
                  <img class="border-2" src="../statics/pic/vocab3.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="mode(6)" v-show="showVocab == 1">
                  <img class="border-2" src="../statics/pic/vocab4.jpg" style="width:100%;" alt />
                </q-btn>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-12 q-py-xl">
            <span class="text-blue-grey-10 text-h4">Vocabulary</span>
            <div class="q-pt-lg">
              <span class="text-h6">
                <q-expansion-item
                  v-model="isflashcard"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Flashcard"
                  @click="showBluetext(1)"
                  :header-class="{'text-primary':isflashcard}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >เรียนรู้คำศัพท์ใหม่พร้อมการออกเสียงและตัวอย่างประโยคที่ใช้ในชีวิตประจำวัน</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="ismatching"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Matching"
                  @click="showBluetext(2)"
                  :header-class="{'text-primary':ismatching}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div class="text-body1 q-mb-lg">เรียนรู้คำศัพท์ภาษาอังกฤษจากคำแปลภาษาไทย</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="isspelling"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Spelling Bee"
                  @click="showBluetext(3)"
                  :header-class="{'text-primary':isspelling}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >นักเรียนสามารถฝึกการสะกดคำและเป็นพื้นฐานในการต่อยอดสู่บทเรียนอื่นๆต่อไป</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  class="q-pb-xs-xl"
                  v-model="ismultiplevocab"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Multiple-Choice"
                  @click="showBluetext(4)"
                  :header-class="{'text-primary':ismultiplevocab}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >แบบฝึกหัดในรูปแบบของการเลือกคำตอบ แบบพื้นฐานทั่วไป ซึ่งสามรถทำให้ผู้เรียนได้เข้าใจเนื้อหาบทเรียนได้ดีขึ้น</div>
                    </div>
                  </q-card>
                </q-expansion-item>
              </span>
            </div>
          </div>

          <!-- NOTE ------- grammar -->
          <div class="col-md-7 col-xs-12 q-pa-sm q-py-xl q-px-xl bg-grey-3" align="center">
            <!-- box ใหญ่ -->
            <div class="q-px-xs q-py-xs">
              <img
                v-show="showGrammar == 1"
                class="border-2"
                src="../statics/pic/grammar1.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showGrammar == 2"
                class="border-2"
                src="../statics/pic/grammar2.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showGrammar == 3"
                class="border-2"
                src="../statics/pic/grammar3.jpg"
                style="width:100%;"
                alt
              />
            </div>
            <!-- box1 -->
            <div class="row">
              <div class="col-4 q-px-xs">
                <q-btn flat dense @click="modeGrammar(1)" v-show="showGrammar == 3">
                  <img class="border-2" src="../statics/pic/grammar1.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="modeGrammar(2)" v-show="showGrammar == 1">
                  <img class="border-2" src="../statics/pic/grammar2.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="modeGrammar(3)" v-show="showGrammar == 2">
                  <img class="border-2" src="../statics/pic/grammar3.jpg" style="width:100%;" alt />
                </q-btn>
              </div>
              <!-- box2 -->
              <div class="col-4 q-px-xs">
                <q-btn flat dense @click="modeGrammar(4)" v-show="showGrammar == 2">
                  <img class="border-2" src="../statics/pic/grammar1.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="modeGrammar(5)" v-show="showGrammar == 3">
                  <img class="border-2" src="../statics/pic/grammar2.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="modeGrammar(6)" v-show="showGrammar == 1">
                  <img class="border-2" src="../statics/pic/grammar3.jpg" style="width:100%;" alt />
                </q-btn>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-12 q-py-xl bg-grey-3">
            <span class="text-blue-grey-10 text-h4">Grammar</span>
            <div class="q-pt-lg q-ml-lg">
              <span class="text-h6">
                <q-expansion-item
                  v-model="isteaching"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Teaching VDO"
                  @click="showBluetext(5)"
                  :header-class="{'text-primary':isteaching}"
                >
                  <q-card class="bg-grey-3">
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >Grammar จะไม่อยากอีกต่อไป ด้วยการใช้เทคนิคภาพประกอบและตัวอย่างประโยคเสริมความเข้าใจตลอดเวลาการเรียน</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="isfillgrammar"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Fill in the blank"
                  @click="showBluetext(6)"
                  :header-class="{'text-primary':isfillgrammar}"
                >
                  <q-card class="bg-grey-3">
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >ผู้เรียนได้ฝึกหลักไวยกรณ์ตามที่ได้เรียนมาก่อนหน้า จากรูปประโยคที่ใช้ได้จริง</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="ismultiplechoicegrammar"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Multiple-Choice"
                  @click="showBluetext(7)"
                  :header-class="{'text-primary':ismultiplechoicegrammar}"
                >
                  <q-card class="bg-grey-3">
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >แบบฝึกหัดในรูปแบบของการเลือกคำตอบ แบบพื้นฐานทั่วไป ซึ่งสามารถทำไห้ผู้เรียนได้เข้าใจเนื้อหาบทเรียนได้ดีขึ้น</div>
                    </div>
                  </q-card>
                </q-expansion-item>
              </span>
            </div>
          </div>

          <!-- NOTE ------- Reading -->
          <div class="col-md-7 col-xs-12 q-pa-sm q-py-xl q-px-xl" align="center">
            <!-- box ใหญ่ -->
            <div class="q-px-xs q-py-xs">
              <img
                v-show="showReading ==1"
                class="border-4"
                src="../statics/pic/reading1.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showReading ==2"
                class="border-4"
                src="../statics/pic/reading2.jpg"
                style="width:100%;;"
                alt
              />
            </div>
            <!-- box1 -->
            <div class="row">
              <div class="col-4 q-px-xs">
                <q-btn flat dense @click="modeReading(1)" v-show="showReading ==2">
                  <img class="border-2" src="../statics/pic/reading1.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="modeReading(2)" v-show="showReading ==1">
                  <img class="border-2" src="../statics/pic/reading2.jpg" style="width:100%;;" alt />
                </q-btn>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-12 q-py-xl">
            <span class="text-blue-grey-10 text-h4">Reading</span>
            <div class="q-pt-lg">
              <span class="text-h6">
                <q-expansion-item
                  v-model="isfillreading"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Fill in the blank"
                  @click="showBluetext(8)"
                  :header-class="{'text-primary':isfillreading}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >ผู้เรียนจะต้องพิมพ์คำศัพท์ลงในช่องว่างเพื่อให้ประโยคสมบูรณ์</div>
                    </div>
                  </q-card>
                </q-expansion-item>

                <q-expansion-item
                  v-model="ismultiplechoicereading"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Multiple-Choice"
                  @click="showBluetext(10)"
                  :header-class="{'text-primary':ismultiplechoicereading}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >การทดสอบคามเข้าใจของผู้เรียนหลังจากการอ่านเนื้อเรื่อง</div>
                    </div>
                  </q-card>
                </q-expansion-item>
              </span>
            </div>
          </div>

          <!-- NOTE ------- Writing -->
          <div class="col-md-7 col-xs-12 q-pa-sm q-py-xl q-px-xl bg-grey-3" align="center">
            <!-- box ใหญ่ -->
            <div class="q-px-xs q-py-xs">
              <img
                v-show="showWriting==1"
                class="border-4"
                src="../statics/pic/writing1.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showWriting==2"
                class="border-4"
                src="../statics/pic/writing2.jpg"
                style="width:100%;"
                alt
              />
            </div>
            <!-- box1 -->
            <div class="row">
              <div class="col-4 q-px-xs">
                <q-btn flat dense @click="modeWriting(1)" v-show="showWriting == 2">
                  <img class="border-2" src="../statics/pic/writing1.jpg" style="width:100%;" alt />
                </q-btn>
                <q-btn flat dense @click="modeWriting(2)" v-show="showWriting == 1">
                  <img class="border-2" src="../statics/pic/writing2.jpg" style="width:100%;" alt />
                </q-btn>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-12 q-py-xl bg-grey-3">
            <span class="text-blue-grey-10 text-h4">Writing</span>

            <div class="q-pt-lg">
              <span class="text-h6">
                <q-expansion-item
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Translation"
                  @click="showBluetext(11)"
                  :header-class="{'text-primary':istranslation}"
                >
                  <q-card class="bg-grey-3">
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >ฝึกแปลประโยคภาาาไทยไห้เป็นประโยคภาษาอังกฤษไห้ถูกต้องตามหลักไวยกรณ์</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Dictation"
                  @click="showBluetext(12)"
                  :header-class="{'text-primary':isdictation}"
                >
                  <q-card class="bg-grey-3">
                    <div class="q-px-xl q-ml-lg">
                      <div class="text-body1 q-mb-lg">ฝึกเรียนรู้ทักษะการเขียนร่วมกับทักษะในการฟัง</div>
                    </div>
                  </q-card>
                </q-expansion-item>
              </span>
            </div>
          </div>

          <!-- Listening & Speaking -->
          <div class="col-md-7 col-xs-12 q-pa-sm q-py-xl q-px-xl" align="center">
            <!-- box ใหญ่ -->
            <div class="q-px-xs q-py-xs">
              <img
                v-show="showListening==1"
                class="border-4"
                src="../statics/pic/listen1.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showListening==2"
                class="border-4"
                src="../statics/pic/listen2.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showListening==3"
                class="border-4"
                src="../statics/pic/listen3.jpg"
                style="width:100%;"
                alt
              />
              <img
                v-show="showListening==4"
                class="border-4"
                src="../statics/pic/listen4.jpg"
                style="width:100%;"
                alt
              />
            </div>
            <!-- box1 -->
            <div class="row">
              <div class="col-4 q-px-xs">
                <q-btn flat dense>
                  <img class="border-2" src="../statics/pic/listen2.jpg" style="width:100%;" />
                </q-btn>
                <q-btn flat dense>
                  <img class="border-2" src="../statics/pic/listen3.jpg" style="width:100%;" />
                </q-btn>
                <q-btn flat dense>
                  <img class="border-2" src="../statics/pic/listen4.jpg" style="width:100%;" />
                </q-btn>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-12 q-py-xl">
            <span class="text-blue-grey-10 text-h4">Listening & Speaking</span>

            <div class="q-pt-xl q-px-lg">
              <span class="text-h6">
                <q-expansion-item
                  v-model="isphonics"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Phonics"
                  @click="showBluetext(13)"
                  :header-class="{'text-primary':isphonics}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >การออกเสียงเป็นสิ่งสำคำคัญมากและควรได้รับการฝึกฝนตั้งแต่เด็ก เนื่องจากเด็กสามารถ ฝึกการออกเสียงได้รวดเร็วกว่าผู้ใหญ่หลายเท่า</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="islanguage"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Language Tips"
                  @click="showBluetext(14)"
                  :header-class="{'text-primary':islanguage}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >การออกเสียงเป็นสิ่งสำคำคัญมากและควรได้รับการฝึกฝนตั้งแต่เด็ก เนื่องจากเด็กสามารถ ฝึกการออกเสียงได้รวดเร็วกว่าผู้ใหญ่หลายเท่า</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="isconversation"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Conversation"
                  @click="showBluetext(15)"
                  :header-class="{'text-primary':isconversation}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >ฝึกทักษาการฟังบทสนทนาที่ใช้ในชีวิตประจำวันและทำแบบฝึกหัดเสริมความเข้าใจ</div>
                    </div>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  v-model="isspeaking"
                  switch-toggle-side
                  dense-toggle
                  group="Multi"
                  label="Speaking Praction"
                  @click="showBluetext(16)"
                  :header-class="{'text-primary':isspeaking}"
                >
                  <q-card>
                    <div class="q-px-xl q-ml-lg">
                      <div
                        class="text-body1 q-mb-lg"
                      >ฝึกทักษะการพูดประโยคภาาาอังกฤษไห้ใกล้- เคียงกับเจ้าของภาษา</div>
                    </div>
                  </q-card>
                </q-expansion-item>
              </span>
            </div>
          </div>
        </div>

        <!-- ------------------------------------------ SECTION  ------------------------------------------ mobile -->

        <div class="mobile-only q-py-xl">
          <div class="q-px-lg">
            <span class="col-md-12 col-sm-12 text-h5 q-pt-md">Multi-skill Contents</span>
            <span
              class="text-h6 row justify-center"
            >เรียนเนื้อหาภาษาอังกฤษครบทั้ง 6 ทักษะคำศัพท์ ไวยากรณ์ อ่าน เขียน ฟังและพูด</span>
          </div>

          <div class="text-h6 q-pt-xl" align="center">Vocabulary</div>
          <div>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Flashcard"
              @click="showBluetext(1)"
              :header-class="{'text-primary':isflashcard}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >เรียนรู้คำศัพท์ใหม่พร้อมการออกเสียงและตัวอย่างประโยคที่ใช้ในชีวิตประจำวัน</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/vocab1.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Matching"
              @click="showBluetext(2)"
              :header-class="{'text-primary':ismatching}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div class="q-pb-md q-pl-xl">เรียนรู้คำศัพท์ภาษาอังกฤษจากคำแปลภาษาไทย</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/vocab2.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Spelling Bee"
              @click="showBluetext(3)"
              :header-class="{'text-primary':isspelling}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >นักเรียนสามารถฝึกการสะกดคำและเป็นพื้นฐานในการต่อยอดสู่บทเรียนอื่นๆต่อไป</div>
                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/vocab3.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Moltiple-Choice"
              @click="showBluetext(4)"
              :header-class="{'text-primary':ismultiplevocab}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >แบบฝึกหัดในรูปแบบของการเลือกคำตอบ แบบพื้นฐานทั่วไป ซึ่งสามรถทำให้ผู้เรียนได้เข้าใจเนื้อหาบทเรียนได้ดีขึ้น</div>
                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/vocab4.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
          </div>

          <!-- grammar -->
          <div class="bg-grey-3">
            <div class="text-h6 q-pt-lg" align="center">Grammar</div>

            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Teaching VDO"
              @click="showBluetext(5)"
              :header-class="{'text-primary':isteaching}"
            >
              <q-card>
                <div class="q-px-lg bg-grey-3">
                  <div
                    class="q-pb-md q-pl-xl"
                  >Grammar จะไม่อยากอีกต่อไป ด้วยการใช้เทคนิคภาพประกอบและตัวอย่างประโยคเสริมความเข้าใจตลอดเวลาการเรียน</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/grammar1.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Fill in the blank"
              @click="showBluetext(6)"
              :header-class="{'text-primary':isfillgrammar}"
            >
              <q-card>
                <div class="q-px-lg bg-grey-3">
                  <div
                    class="q-pb-md q-pl-xl"
                  >ผู้เรียนได้ฝึกหลักไวยกรณ์ตามที่ได้เรียนมาก่อนหน้า จากรูปประโยคที่ใช้ได้จริง</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/grammar2.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Moltiple-Choice"
              @click="showBluetext(7)"
              :header-class="{'text-primary':ismultiplechoicegrammar}"
            >
              <q-card>
                <div class="q-px-lg bg-grey-3">
                  <div
                    class="q-pb-md q-pl-xl"
                  >แบบฝึกหัดในรูปแบบของการเลือกคำตอบ แบบพื้นฐานทั่วไป ซึ่งสามารถทำไห้ผู้เรียนได้เข้าใจเนื้อหาบทเรียนได้ดีขึ้น</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/grammar3.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
          </div>

          <!-- reading -->

          <div class="text-h6 q-pt-xl" align="center">Reading</div>
          <div>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Fill in the blank"
              @click="showBluetext(8)"
              :header-class="{'text-primary':isfillreading}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >ผู้เรียนจะต้องพิมพ์คำศัพท์ลงในช่องว่างเพื่อให้ประโยคสมบูรณ์</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/reading1.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="True / False"
              @click="showBluetext(9)"
              :header-class="{'text-primary':istrue}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >ผู้เรียนสามารถฝึกทักษะการเลือกคำตอบ True / False เพื่อตรวจสอบความเข้าใจในเนื้อเรื่อง</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/reading2.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Multiple-Choice"
              @click="showBluetext(10)"
              :header-class="{'text-primary':ismultiplechoicereading}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >การทดสอบความเข้าใจของผู้เรียนหลังจากการอ่านเนื้อเรื่อง</div>
                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/reading3.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
          </div>
          <!-- writing -->
          <div class="bg-grey-3">
            <div class="text-h6 q-pt-lg" align="center">Writing</div>

            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Translation"
              @click="showBluetext(11)"
              :header-class="{'text-primary':istranslation}"
            >
              <q-card>
                <div class="q-px-lg bg-grey-3">
                  <div
                    class="q-pb-md q-pl-xl"
                  >ฝึกแปลประโยคภาาาไทยไห้เป็นประโยคภาษาอังกฤษไห้ถูกต้องตามหลักไวยกรณ์</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/writing1.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Dictation"
              @click="showBluetext(12)"
              :header-class="{'text-primary':isdictation}"
            >
              <q-card>
                <div class="q-px-lg bg-grey-3">
                  <div class="q-pb-md q-pl-xl">ฝึกเรียนรู้ทักษะการเขียนร่วมกับทักษะในการฟัง</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/writing2.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="text-h6 q-pt-xl" align="center">Listening & Speaking</div>
          <div>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Phonics"
              @click="showBluetext(13)"
              :header-class="{'text-primary':isphonics}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >การออกเสียงเป็นสิ่งสำคำคัญมากและควรได้รับการฝึกฝนตั้งแต่เด็ก เนื่องจากเด็กสามารถ ฝึกการออกเสียงได้รวดเร็วกว่าผู้ใหญ่หลายเท่า</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/listen1.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Language Tips"
              @click="showBluetext(14)"
              :header-class="{'text-primary':islanguage}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >การเรียนรู้ วลี หรือสำนวนภาษาอังกฤษที่มีความหมายเฉพาะ และสามารถพบได้ในประโยคสนทนาในชีวิตประจำวัน</div>

                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/listen2.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Conversation"
              @click="showBluetext(15)"
              :header-class="{'text-primary':isconversation}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >ฝึกทักษาการฟังบทสนทนาที่ใช้ในชีวิตประจำวันและทำแบบฝึกหัดเสริมความเข้าใจ</div>
                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/listen3.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              group="multi"
              dense-toggle
              switch-toggle-side
              label="Moltiple-Choice"
              @click="showBluetext(16)"
              :header-class="{'text-primary':isspeaking}"
            >
              <q-card>
                <div class="q-px-lg">
                  <div
                    class="q-pb-md q-pl-xl"
                  >ฝึกทักษะการพูดประโยคภาาาอังกฤษไห้ใกล้เคียงกับเจ้าของภาษา</div>
                  <div>
                    <img
                      class="border-4"
                      src="../statics/pic/listen4.jpg"
                      style=" max-width: 500px; width: 100%;"
                      alt
                    />
                  </div>
                </div>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
      </div>
    </transition>
    <app-footer></app-footer>
  </q-page>
</template>

<script>
import appFooter from "../components/footer.vue";
export default {
  data() {
    return {
      showText: false,
      showVocab: 1,
      showGrammar: 1,
      showReading: 1,
      showWriting: 1,
      showListening: 1,
      isflashcard: true,
      ismatching: false,
      isspelling: false,
      ismultiplevocab: false,
      isteaching: false,
      isfillgrammar: false,
      ismultiplechoicegrammar: false,
      isfillreading: false,
      istrue: false,
      ismultiplechoicereading: false,
      istranslation: false,
      isdictation: false,
      isphonics: false,
      islanguage: false,
      isconversation: false,
      isspeaking: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    mode(number) {
      if (number == 1) {
        this.isflashcard = true;
        this.ismatching = false;
        this.isspelling = false;
        this.ismultiplevocab = false;
        this.showVocab = 1;
      } else if (number == 2) {
        this.ismatching = true;
        this.isflashcard = false;
        this.isspelling = false;
        this.ismultiplevocab = false;
        this.showVocab = 2;
      } else if (number == 3) {
        this.isflashcard = false;
        this.ismatching = false;
        this.isspelling = true;
        this.ismultiplevocab = false;
        this.showVocab = 3;
      } else if (number == 4) {
        this.ismatching = true;
        this.isflashcard = false;
        this.isspelling = false;
        this.ismultiplevocab = false;
        this.showVocab = 2;
      } else if (number == 5) {
        this.isflashcard = false;
        this.ismatching = false;
        this.isspelling = true;
        this.ismultiplevocab = false;
        this.showVocab = 3;
      } else if (number == 6) {
        this.isflashcard = false;
        this.ismatching = false;
        this.isspelling = false;
        this.ismultiplevocab = true;
        this.showVocab = 4;
      }
    },
    modeGrammar(number) {
      if (number == 1) {
        this.showGrammar = 1;
      } else if (number == 2) {
        this.showGrammar = 2;
      } else if (number == 3) {
        this.showGrammar = 3;
      } else if (number == 4) {
        this.showGrammar = 1;
      } else if (number == 5) {
        this.showGrammar = 2;
      } else if (number == 6) {
        this.showGrammar = 3;
      }
    },
    modeReading(number) {
      if (number == 1) {
        this.showReading = 1;
      } else if (number == 2) {
        this.showReading = 2;
      } else if (number == 3) {
        this.showReading = 3;
      } else if (number == 4) {
        this.showReading = 1;
      } else if (number == 5) {
        this.showReading = 2;
      } else if (number == 6) {
        this.showReading = 3;
      }
    },
    modeWriting(number) {
      if (number == 1) {
        this.showWriting = 1;
      } else if (number == 2) {
        this.showWriting = 2;
      }
    },
    modeLintening(number) {
      if (number == 1) {
        this.showLintening = 1;
      } else if (number == 2) {
        this.showLintening = 2;
      } else if (number == 3) {
        this.showLintening = 3;
      } else if (number == 4) {
        this.showLintening = 4;
      } else if (number == 5) {
        this.showLintening = 1;
      } else if (number == 6) {
        this.showLintening = 2;
      } else if (number == 7) {
        this.showLintening = 3;
      } else if (number == 8) {
        this.showLintening = 4;
      } else if (number == 9) {
        this.showLintening = 1;
      } else if (number == 10) {
        this.showLintening = 2;
      } else if (number == 11) {
        this.showLintening = 3;
      } else if (number == 12) {
        this.showLintening = 4;
      }
    },
    showBluetext(menu) {
      this.showPic = menu;
      this.isflashcard = false;
      this.ismatching = false;
      this.isspelling = false;
      this.ismultiplevocab = false;
      this.isteaching = false;
      this.isfillgrammar = false;
      this.ismultiplechoicegrammar = false;
      this.isfillreading = false;
      this.istrue = false;
      this.ismultiplechoicereading = false;
      this.istranslation = false;
      this.isdictation = false;
      this.isphonics = false;
      this.islanguage = false;
      this.isconversation = false;
      this.isspeaking = false;
      if (menu == 1) {
        this.showVocab = 1;
        this.isflashcard = true;
      } else if (menu == 2) {
        this.showVocab = 2;
        this.ismatching = true;
      } else if (menu == 3) {
        this.showVocab = 3;
        this.isspelling = true;
      } else if (menu == 4) {
        this.showVocab = 4;
        this.ismultiplevocab = true;
      } else if (menu == 5) {
        this.showGrammar = 1;
        this.isteaching = true;
      } else if (menu == 6) {
        this.showGrammar = 2;
        this.isfillgrammar = true;
      } else if (menu == 7) {
        this.showGrammar = 3;
        this.ismultiplechoicegrammar = true;
      } else if (menu == 8) {
        this.showReading = 1;

        this.isfillreading = true;
      } else if (menu == 9) {
        this.showReading = 1;
        this.istrue = true;
      } else if (menu == 10) {
        this.showReading = 2;
        this.ismultiplechoicereading = true;
      } else if (menu == 11) {
        this.showWriting = 1;
        this.istranslation = true;
      } else if (menu == 12) {
        this.showWriting = 2;
        this.isdictation = true;
      } else if (menu == 13) {
        this.showListening = 1;

        this.isphonics = true;
      } else if (menu == 14) {
        this.showListening = 2;
        this.islanguage = true;
      } else if (menu == 15) {
        this.showListening = 3;
        this.isconversation = true;
      } else if (menu == 16) {
        this.showListening = 4;
        this.isspeaking = true;
      }
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    appFooter
  }
};
</script>

<style  scoped>
.border-4 {
  border: 4px solid black;
}
.border-2 {
  border: 2px solid black;
}
.we-text-align {
  text-align: center;
}
</style>