<template>
  <q-page>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div>
        <!-- Components Banner Box SECTION -->
        <banner-box :dataSchool="{type:'learnOnline'}"></banner-box>

        <!-- Components Content Box SECTION -->
        <content-Box :dataSchool="{type:'learnOnline'}"></content-Box>

        <!-- Learning for Free 7 Day SECTION  -->
        <div class="row bg-primary q-py-xl" align="center">
          <div class="col-12 q-py-md text-white">
            <div>
              <span class="text-h4">เรียนฟรี 7 วัน</span>
            </div>
            <div class="q-my-sm q-px-lg">
              <span class="text-subtitle1">ไม่มีข้อจำกัด ไม่มีข้อผูกมัด ในการทดลองเรียนใดๆทั้งสิ้น</span>
            </div>
            <div class="q-py-md">
              <q-btn
                class="q-px-xl q-py-sm rounded-borders"
                to="/course"
                label="ทดลองเรียน"
                outline
              />
            </div>
          </div>
        </div>
      </div>
    </transition>

    <!-- Components Footer Box SECTION -->
    <app-footer></app-footer>
  </q-page>
</template>

<script>
import bannerBox from "../components/banner.vue";
import contentBox from "../components/contentbox.vue";
import appFooter from "../components/footer.vue";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    bannerBox,
    contentBox,
    appFooter
  }
};
</script>