<template>
  <div>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div>
        <div class="text-h4 text-blue-grey-10 q-pt-xl" align="center">สมัครเรียน</div>

        <div class="row justify-center q-pb-xl q-pt-md-xl">
          <div class="col-md-10 col-xs-12">
            <div
              class="row q-pt-sm"
              align="center"
              :class="{'card rounded-borders shadow-1':innerWidth > 1023 && isRegister}"
            >
              <div class="col-md-5 col-xs-12 self-center" v-if="innerWidth > 1023 && isRegister">
                <div align="center">
                  <div style="width:280px">
                    <q-img src="../statics/pic/123.png" />
                  </div>
                  <div class="text-grey-7 text-body1 q-py-lg">ทางทีมงานจะติดต่อกลับภายใน 24 ชั่วโมง</div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12 q-pb-md self-center" v-if="!isRegister">
                <div style="width:325px" class="q-pb-xl" v-if="innerWidth > 1023">
                  <q-img src="../statics/pic/123.png" />
                </div>
                <p class="text-h4">ติดต่อ : คุณมณีนารถ (เปิ้ล)</p>
                <span class="q-pr-sm text-h6">โทร:</span>
                <a class="we-text-underline text-h6 text-primary" href="tel:0945487764">094-548-7764</a>
              </div>
              <div class="col-md-7 col-xs-12 q-pb-md" v-if="isRegister">
                <div class="q-pa-md">
                  <div class="q-pa-sm">
                    <q-input color="primary" label="ชื่อ-นามสกุล" v-model="name">
                      <template v-slot:prepend>
                        <q-icon name="fas fa-user" />
                      </template>
                    </q-input>
                  </div>
                  <div class="q-pa-sm">
                    <q-input color="primary" label="เบอร์โทรศัพท์" v-model="tell">
                      <template v-slot:prepend>
                        <q-icon name="fas fa-phone-alt" />
                      </template>
                    </q-input>
                  </div>
                  <div class="q-pa-sm">
                    <q-input color="primary" label="อีเมล " v-model="email">
                      <template v-slot:prepend>
                        <q-icon name="fas fa-envelope" />
                      </template>
                    </q-input>
                  </div>

                  <div class="q-pa-sm q-py-md">
                    <q-select
                      outlined
                      v-model="course"
                      :options="courseoptions"
                      label="คอร์สเรียน"
                    />
                  </div>
                </div>
              </div>
              <div align="center" class="col-12 q-py-md" v-if="isRegister">
                <q-btn
                  class="bg-primary text-white"
                  label="สมัครเรียน"
                  style="max-width:420px;width:80%; height:45px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <!-- ------------------------------------------------------- SECTION --- THREE ---  Components Footer  -->
    <app-footer></app-footer>
  </div>
</template>

<script>
import appFooter from "../components/footer.vue";
export default {
  data() {
    return {
      name: "",
      tell: "",
      email: "",
      course: "ออนไลน์ 1 เดือน - 200 บาท",
      courseoptions: [
        "ทดลองเรียนฟรี",
        "ออนไลน์ 1 เดือน - 200 บาท",
        "ออนไลน์ 3 เดือน - 400 บาท",
        "ออนไลน์ 6 เดือน - 600 บาท"
      ],
      isRegister: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    appFooter
  }
};
</script>

<style  scoped>
.card {
  border: 1px solid #dcdcdc;
}
.we-text-underline {
  text-decoration: none;
}

.we-text-align {
  text-align: center;
}
</style>