<template>
  <q-page>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div>
        <!-- Components Banner Box SECTION -->
        <banner-box :dataSchool="{type:'learnSchool'}"></banner-box>

        <!-- Components Content Box SECTION  -->
        <content-Box :dataSchool="{type:'learnSchool'}"></content-Box>

        <!-- Image รุปภาพประกอบ SECTION  -->
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <img src="../statics/pic/forschool1.jpg" style="width:100%;" alt />
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6" v-show="innerWidth > 1023">
            <img src="../statics/pic/forschool2.jpg" style="width:100%;" alt />
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" v-show="innerWidth > 599 ">
            <img src="../statics/pic/forschool3.jpg" style="width:100%;" alt />
          </div>
        </div>

        <!-- Content สำหรับคุณครู SECTION  -->
        <div class="row q-py-md-xl q-py-xs-xl q-pa-md-md q-pa-xs-xs">
          <div class="col-12 q-py-lg" align="center">
            <span class="text-h4">สำหรับคุณครู</span>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 q-py-lg q-px-md">
            <div class="row q-px-md-sm q-px-xs-xs" :class="{'we-text-align ':innerWidth < 600}">
              <div class="col-md-3 col-sm-3 col-xs-12 self-center">
                <span class="text-primary text-h2">
                  <span class="fas fa-chalkboard-teacher"></span>
                </span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 q-py-md q-px-sm">
                <div>
                  <div class="text-h5">
                    <span>ห้องเรียนอัจฉริยะ</span>
                  </div>
                  <div class="text-subtitle1" :class="{'q-px-xs-xl ':innerWidth < 600}">
                    <span>ใช้ติดตามสถานะ และพฤติกรรมการเรียน</span>
                  </div>
                  <div class="q-py-sm">
                    <router-link to="/" class="we-text-underline text-primary">
                      <span></span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 q-py-lg q-px-md">
            <div class="row q-px-md-sm q-px-xs-xs" :class="{'we-text-align ':innerWidth < 600}">
              <div class="col-md-3 col-sm-3 col-xs-12 self-center">
                <span class="text-primary text-h2">
                  <span class="fas fa-school"></span>
                </span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 q-py-md q-px-sm">
                <div>
                  <div class="text-h5">
                    <span>ระบบการสอนในห้องเรียน</span>
                  </div>
                  <div class="text-subtitle1" :class="{'q-px-xs-xl ':innerWidth < 600}">
                    <span>สื่อการสอนบนจอทีวี หรือโปรเจคเตอร์ เพื่อใช้เรียนร่วมกันในห้องเรียน</span>
                  </div>
                  <div class="q-py-sm">
                    <router-link to="/" class="we-text-underline text-primary">
                      <span></span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 q-py-lg q-px-md">
            <div class="row q-px-md-sm q-px-xs-xs" :class="{'we-text-align ':innerWidth < 600}">
              <div class="col-md-3 col-sm-3 col-xs-12 self-center">
                <span class="text-primary text-h2">
                  <span class="far fa-star"></span>
                </span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 q-py-md q-px-sm">
                <div>
                  <div class="text-h5">
                    <span>ระบบคะแนนเก็บ</span>
                  </div>
                  <div class="text-subtitle1" :class="{'q-px-xs-xl ':innerWidth < 600}">
                    <span>ระบบคำนวณคะแนนเก็บ โดยครูผู้สอนสามารถปรับเปลื่ยนหลักการให้คะแนนอิสระ</span>
                  </div>
                  <div class="q-py-sm">
                    <router-link to="/" class="we-text-underline text-primary">
                      <span></span>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 q-py-lg q-px-md">
            <div class="row q-px-md-sm q-px-xs-xs" :class="{'we-text-align ':innerWidth < 600}">
              <div class="col-md-3 col-sm-3 col-xs-12 self-center">
                <span class="text-primary text-h2">
                  <span class="fas fa-file-alt"></span>
                </span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 q-py-md q-px-sm">
                <div>
                  <div class="text-h5">
                    <span>เอกสารประกอบการเรียน</span>
                  </div>
                  <div class="text-subtitle1" :class="{'q-px-xs-xl ':innerWidth < 600}">
                    <span>ช่วยวางแผนการสอน จัดเตรียมเนื้อหา และเอกสารประกอบการเรียน</span>
                  </div>
                  <div class="q-py-sm">
                    <a
                      href="../statics/document/แผนการสอน.pdf"
                      target="__blank"
                      class="we-text-underline text-primary"
                    >
                      <span>ตัวอย่างแผนการสอน ></span>
                    </a>
                    <br />
                    <a
                      href="../statics/document/เอกสารประกอบการเรียน.pdf"
                      target="__blank"
                      class="we-text-underline text-primary"
                    >
                      <span>ตัวอย่างเอกสารการสอน ></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 q-py-lg q-px-md">
            <div class="row q-px-md-sm q-px-xs-xs" :class="{'we-text-align ':innerWidth < 600}">
              <div class="col-md-3 col-sm-3 col-xs-12 self-center">
                <span class="text-primary text-h2">
                  <span class="fas fa-envelope-open-text"></span>
                </span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 q-py-md q-px-sm">
                <div>
                  <div class="text-h5">
                    <span>ระบบออกข้อสอบ</span>
                  </div>
                  <div class="text-subtitle1" :class="{'q-px-xs-xl ':innerWidth < 600}">
                    <span>สร้างข้อสอบเพื่อวัดผลการเรียนรู้ จากคลังข้อสอบของ Winner English</span>
                  </div>
                  <div class="q-py-sm">
                    <a
                      href="../statics/document/ข้อสอบ.pdf"
                      target="__blank"
                      class="we-text-underline text-primary"
                    >
                      <span>ตัวอย่างข้อสอบ ></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contact สนใจทดลองใช้ SECTION  -->
        <div class="row bg-primary q-py-xl" align="center">
          <div class="col-12 q-py-xl text-white">
            <div>
              <span class="text-h3">สนใจทดลองใช้</span>
            </div>
            <div class="q-my-sm" :class="{'q-px-lg':innerWidth > 599}">
              <span
                :class="{'text-body1':innerWidth < 400,'text-h6':innerWidth < 626,'text-h4':innerWidth > 625}"
              >
                <p class="text-h4">ติดต่อ : คุณมณีนารถ (เปิ้ล)</p>
                <span class="q-pr-sm">โทร :</span>
                <a href="tel:0945487764" class="we-text-underline text-white">094-548-7764</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <!-- Components Footer Box SECTION  -->
    <app-footer></app-footer>
  </q-page>
</template>

<script>
import bannerBox from "../components/banner.vue";
import contentBox from "../components/contentbox.vue";
import appFooter from "../components/footer.vue";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  components: {
    bannerBox,
    contentBox,
    appFooter
  },
  methods: {
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  }
};
</script>

<style scoped>
.we-text-underline {
  text-decoration: none;
}

.we-text-align {
  text-align: center;
}
</style>