<template>
  <div>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div>
        <!-- SECTION --- ONE ---  -->
        <div class="q-py-lg">
          <div align="center" class="q-py-xl">
            <span
              class="text-blue-grey-10"
              :class="{'text-h5':innerWidth < 600,'text-h4':innerWidth >= 600 }"
            >
              เรียนภาษาอังกฤษไม่เข้าใจ
              <br v-if="innerWidth < 600" />
              <span :class="{'text-h4':innerWidth < 600,'text-h3':innerWidth >= 600 }">ทำยังใงดี?</span>
            </span>
            <div class="q-py-lg text-blue-grey-10">
              <span class="text-h5">
                เรียนรู้ภาษาอังกฤษด้วยตนเองจากการปฎิบัติจริง
                <br v-if="innerWidth < 600" />(Laerning by Doing)
              </span>
            </div>
          </div>
        </div>

        <!-- SECTION --- TWO ---  -->
        <!-- NOTE  --- DESKTOP SIZE AND WINDOW WIDTH >= 1024 --- -->
        <div class="row q-pa-xl" v-if="innerWidth >= 1024">
          <div class="col-6 q-pl-xl">
            <span class="text-h5">เรียนรู้จากวิดีโอการสอน</span>
            <br />
            <br />
            <span>
              การเรียนภาษาอังกฤษจะไม่ยากอีกต่อไป ด้วยวิด๊โอการสอนไวย์กรณ์
              <br />การอออกเสียง และบทสนทนา โดยใช้เทคนิคภาพประกอบ อีกทั้งยังมี
              <br />ตัวอย่างประโยคเสริมความเข้าใจตลอดการเรียน
            </span>
          </div>
          <div class="col-6" align="center">
            <q-img src="../statics/pic/grammar3.jpg" />
          </div>
        </div>

        <!-- NOTE  --- MOBILE SIZE AND WINDOW WIDTH < 1024 --- -->
        <div class="row q-pa-md" v-if="innerWidth < 1024">
          <div class="col-12" align="center">
            <div class="q-pb-md">
              <span class="text-h5">เรียนรู้จากวิดีโอการสอน</span>
            </div>
            <div>
              <q-img src="../statics/pic/grammar3.jpg" />
            </div>
          </div>
          <div class="col-12 q-py-lg">
            <span>
              การเรียนภาษาอังกฤษจะไม่ยากอีกต่อไป ด้วยวิด๊โอการสอนไวย์กรณ์
              การอออกเสียง และบทสนทนา โดยใช้เทคนิคภาพประกอบ อีกทั้งยังมี
              ตัวอย่างประโยคเสริมความเข้าใจตลอดการเรียน
            </span>
          </div>
        </div>

        <!-- SECTION --- THREE ---  -->
        <!-- NOTE  --- DESKTOP SIZE AND WINDOW WIDTH >= 1024 --- -->
        <div class="row bg-grey-2 q-pa-xl" v-if="innerWidth >= 1024">
          <div class="col-6" align="center">
            <q-img src="../statics/pic/grammar3.jpg" />
          </div>
          <div class="col-6 q-pl-xl">
            <span class="text-h6">เรียนรู้จากแบบฝึกหัด</span>
            <br />
            <br />
            <span>
              วิธีการเรียนภาษาอังกฤษที่ดีที่สุด คือการได้ฝึกฝนการใช้ภาษาอังกฤษ
              <br />ในสถานการณ์จริง ทาง Winner English ได้จัดเตรียมโจทย์ภาษาอังกฤษ
              <br />ไว้มากกว่า 10,000 ข้อ ซึ่งทุกข้อมีคำอธิบายเฉลยอย่างละเอียด เพื่อให้
              <br />ผู้เรียนสามารถเรียนรู้ได้ด้วยตัวเอง
            </span>
          </div>
        </div>

        <!-- NOTE  --- MOBILE SIZE AND WINDOW WIDTH < 1024 --- -->
        <div class="row q-pa-md bg-grey-2" v-if="innerWidth < 1024">
          <div class="col-12" align="center">
            <div class="q-pb-md">
              <span class="text-h5">เรียนรู้จากแบบฝึกหัด</span>
            </div>
            <div>
              <q-img src="../statics/pic/grammar3.jpg" />
            </div>
          </div>
          <div class="col-12 q-py-lg">
            <span>
              วิธีการเรียนภาษาอังกฤษที่ดีที่สุด คือการได้ฝึกฝนการใช้ภาษาอังกฤษ
              ในสถานการณ์จริง ทาง Winner English ได้จัดเตรียมโจทย์ภาษาอังกฤษ
              ไว้มากกว่า 10,000 ข้อ ซึ่งทุกข้อมีคำอธิบายเฉลยอย่างละเอียด เพื่อให้
              ผู้เรียนสามารถเรียนรู้ได้ด้วยตัวเอง
            </span>
          </div>
        </div>

        <!-- SECTION  -->
        <div align="center" class="q-py-xl">
          <div class="q-pb-md q-pt-md q-px-md">
            <span class="text-h4">สนใจดูคอร์สเรียน</span>
            <br />

            <span class="text-body1">เลือกรูปแบบการเรียนที่เหมาะสมกับคุณ ในราคาที่ถูกใจ</span>
          </div>
          <div class="q-pt-md q-pb-xl">
            <q-btn
              class="bg-primary text-white"
              label="ดูคอร์สเรียน"
              to="/course"
              style="width:150px;"
            />
          </div>
        </div>
      </div>
    </transition>

    <app-footer></app-footer>
  </div>
</template>

<script>
import appFooter from "../components/footer.vue";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    appFooter
  }
};
</script>

<style  scoped>
</style>