<template>
  <div>
    <!-- สร้างเพื่อควบคุมหน้าจอแบบ Responsive Design NOTE -->
    <q-resize-observer @resize="onResize" />

    <!-- Animation ในการโหลดหน้า NOTE -->
    <transition appear enter-active-class="animated fadeInUp">
      <div class="row relative-position bg-grey-3">
        <!-- ------------------------------------------------------- SECTION  --- ONE --- -->
        <div
          class="col-md-9 col-xs-12 text-grey-8 q-pa-md q-py-xl"
          :class="{'text-body1':$q.platform.is.desktop,'text-subtitle1':$q.platform.is.mobile}"
          align="left"
        >
          <div class="q-py-sm">
            <span class="q-pl-md-xl q-pr-md-lg q-pl-sm-md q-pl-xs-xs q-pr-xs-md fas fa-globe"></span>
            <span>{{dataContentFooter.website}}</span>
          </div>
          <div class="q-py-sm">
            <span class="q-pl-md-xl q-pr-md-lg q-pl-sm-md q-pl-xs-xs q-pr-xs-md fas fa-phone-alt"></span>
            <span>{{dataContentFooter.tel}}</span>
          </div>
          <div class="q-py-sm">
            <span class="q-pl-md-xl q-pr-md-lg q-pl-sm-md q-pl-xs-xs q-pr-xs-md fas fa-envelope"></span>
            <span>{{dataContentFooter.email}}</span>
          </div>
          <div class="q-py-sm">
            <span
              class="q-pl-md-xl q-pr-md-lg q-pl-sm-md q-pl-xs-xs q-pr-xs-md fas fa-map-marker-alt"
            ></span>
            <span>{{dataContentFooter.location}}</span>
          </div>
        </div>

        <!-- ------------------------------------------------------- SECTION  --- TWO --- -->
        <!-- <div class="col-md-3 col-xs-12 q-pa-md-xl q-px-xs-xl q-pb-xs-xl" align="right">
          <q-icon name="fab fa-facebook-square" size="60px" color="grey-7" class="q-pr-md" />
          <q-icon name="fab fa-line" size="60px" color="grey-7" />
        </div>-->
        <div class="text-subtitle text-grey-8 absolute-bottom-right q-pa-sm">v {{appVersion}}</div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dataContentFooter: {
        website: "www.winner-english.com",
        tel: "094-548-7764",
        email: "info.winnerenglish@gmail.com",
        location:
          "1673/8 อาคารวิทยุคอมเพล็กซ์ ถนนเพชรบุรีตัดใหม่ แขวงมักกะสัน เขตราชเทวี 10400"
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  }
};
</script>