<template>
  <q-layout view="hHh lpR fFf">
    <q-resize-observer @resize="onResize" />
    <div class="shadow-5" style="max-width:1400px;width:100%;margin:auto;">
      <q-toolbar align="center" class="text-white q-py-md bg-primary">
        <q-toolbar-title>
          <span>Winner&nbsp;</span>
          <span class="text-yellow-4">English</span>
        </q-toolbar-title>
      </q-toolbar>
      <q-toolbar class="text-primary no-margin no-padding">
        <q-tabs
          narrow-indicator
          v-model="page"
          align="left"
          class="col-12 text-primary shadow-2 q-py-sm q-px-sm"
        >
          <q-btn
            flat
            @click="drawer = !drawer"
            v-if="innerWidth < 1024"
            round
            size="lg"
            dense
            icon="menu"
          />
          <router-link
            class="text-decoration"
            :class="{'text-primary':page == 'home','text-blue-grey-10':page != 'home',}"
            to="/"
            @click="page = 'home'"
          >
            <q-tab v-if="innerWidth > 1023" name="home" style="min-width:150px;">
              <span class="text-h6">หน้าแรก</span>
            </q-tab>
          </router-link>

          <router-link
            class="text-decoration"
            :class="{'text-primary':page == 'online','text-blue-grey-10':page != 'online',}"
            to="/online"
            @click="page = 'online'"
          >
            <q-tab v-if="innerWidth > 1023" name="online" style="min-width:150px;">
              <span class="text-h6">ระบบออนไลน์</span>
            </q-tab>
          </router-link>

          <router-link
            class="text-decoration"
            :class="{'text-primary':page == 'school','text-blue-grey-10':page != 'school',}"
            to="/school"
            @click="page = 'school'"
          >
            <q-tab v-if="innerWidth > 1023" name="school" style="min-width:150px;">
              <span class="text-h6">ระบบโรงเรียน</span>
            </q-tab>
          </router-link>

          <router-link
            class="text-decoration"
            :class="{'text-primary':page == 'course','text-blue-grey-10':page != 'course',}"
            to="/course"
            @click="page = 'course'"
          >
            <q-tab v-if="innerWidth > 1023" name="course" style="min-width:150px;">
              <span class="text-h6">คอร์สเรียน</span>
            </q-tab>
          </router-link>

          <q-space />

          <q-btn
            v-if="$route.name != 'login'"
            class="bg-primary text-white rounded-borders"
            style="width:120px;"
            to="/login"
          >
            <span class="text-h6">เข้าสู่ระบบ</span>
          </q-btn>
        </q-tabs>
      </q-toolbar>

      <q-drawer
        v-model="drawer"
        :width="300"
        :breakpoint="1024"
        overlay
        bordered
        content-class="bg-grey-3"
      >
        <q-scroll-area class="fit">
          <div align="center">
            <div class="q-pt-md q-pb-sm">
              <img src="../statics/iconWinner.png" style="width:50px;" alt />
            </div>
            <hr class="no-margin" />
          </div>
          <q-list>
            <q-item
              clickable
              v-ripple
              to="/"
              @click="page = 'home',drawer = false"
              :class="{'text-primary':page == 'home','text-blue-grey-10':page != 'home',}"
            >
              <q-item-section avatar>
                <q-icon />
              </q-item-section>
              <q-item-section>หน้าแรก</q-item-section>
            </q-item>
            <q-separator />
            <q-item
              clickable
              v-ripple
              to="/online"
              @click="page = 'online',drawer = false"
              :class="{'text-primary':page == 'online','text-blue-grey-10':page != 'online',}"
            >
              <q-item-section avatar>
                <q-icon />
              </q-item-section>
              <q-item-section>ระบบออนไลน์</q-item-section>
            </q-item>
            <q-separator />
            <q-item
              clickable
              v-ripple
              to="/school"
              @click="page = 'school',drawer = false"
              :class="{'text-primary':page == 'school','text-blue-grey-10':page != 'school',}"
            >
              <q-item-section avatar>
                <q-icon />
              </q-item-section>
              <q-item-section>ระบบโรงเรียน</q-item-section>
            </q-item>
            <q-separator />
            <q-item
              clickable
              v-ripple
              to="/course"
              @click="page = 'course',drawer = false"
              :class="{'text-primary':page == 'course','text-blue-grey-10':page != 'course',}"
            >
              <q-item-section avatar>
                <q-icon />
              </q-item-section>
              <q-item-section>คอร์สเรียน</q-item-section>
            </q-item>
            <q-separator />
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>
    </div>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      page: "home",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    checkVersion() {
      db.collection("version")
        .doc("website")
        .onSnapshot(webVersion => {
          if (webVersion.data().version != this.appVersion) {
            this.$router.push("/loading");
          }
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.checkVersion();
    if (this.$route.name == "home") {
      this.page = "home";
    } else if (
      this.$route.name == "online" ||
      this.$route.name == "onlinestructure" ||
      this.$route.name == "onlineselflearning" ||
      this.$route.name == "onlinemultiskill"
    ) {
      this.page = "online";
    } else if (
      this.$route.name == "school" ||
      this.$route.name == "schoolstructure" ||
      this.$route.name == "schoolselflearning" ||
      this.$route.name == "schoolmultiskill"
    ) {
      this.page = "school";
    } else if (this.$route.name == "course" || this.$route.name == "register") {
      this.page = "course";
    } else if (this.$route.name == "login") {
      this.page = "login";
    }
  },
  watch: {
    $route() {
      if (this.$route.name == "home") {
        this.page = "home";
      } else if (
        this.$route.name == "online" ||
        this.$route.name == "onlinestructure" ||
        this.$route.name == "onlineselflearning" ||
        this.$route.name == "onlinemultiskill"
      ) {
        this.page = "online";
      } else if (
        this.$route.name == "school" ||
        this.$route.name == "schoolstructure" ||
        this.$route.name == "schoolselflearning" ||
        this.$route.name == "schoolmultiskill"
      ) {
        this.page = "school";
      } else if (
        this.$route.name == "course" ||
        this.$route.name == "register"
      ) {
        this.page = "course";
      } else if (this.$route.name == "login") {
        this.page = "login";
      }
    }
  }
};
</script>
<style >
.text-decoration {
  text-decoration: none;
}
.animated {
  animation-duration: 0.59s;
}
</style>